.head-portrait {
    width: 12%;
    margin-top: 5%;
    
}
.account-container {
    display: flex;
    flex-direction: column;
}
.rein {
    width: 100px;
    margin-top: 5px;
}
.confirm {
    width: 100px;
    margin-top: 30px;
}
.msg-container {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 38%;
}
.inputname {
    color: black;
    font-size: 15px;
    line-height: 30px;
}
.ant-input {
    width: 200px !important;
}